@model Capstone.Models.DoctorViewModel


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="custom-text-light">Hello Registered Doctor!</h1>
<!--THIS IS WHERE I SHOULD ADD THE TABLE WE GOT FROM THE SERVICE-->
<table class="table table-dark">
    <thead>
        <tr>
            <th>Gender</th>
            <th>Race</th>
            <th>Age</th>
            <th>Possible Illness</th>
            <th>Mortality Probability</th>
        </tr>
    </thead>
    <tbody>
       @foreach (var item in Model.PatientDetails) 
       {
           <tr>
               <td>@item.PatientGender</td>
               <td>@item.PatientRace</td>
               <td>@item.PatientAge</td>
               <td>@item.PatientPossibleIllness[0]</td>
               <td>@item.PatientMortalityProbability[item.PatientPossibleIllness[0]]</td>
               <td><button class="btn btn-info">GetPatientCCValues</button></td>
           </tr>
       }
    </tbody>
</table>
<button name="nameButton" id="buttonId" title="Add a new Patient" class="btn btn-primary" type="button" onclick="location.href='@Url.Action("AddAnewPatient","Doctor",Model)'">Add a new Patient</button>

